@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    position: relative;
    min-height: 100vh;
    width: 100vw;
    inset: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    overscroll-behavior: contain;
    overscroll-behavior-block: contain;
    -webkit-overflow-scrolling: touch;
}



* {
    -webkit-tap-highlight-color: transparent
}

.friendz-font {
    font-family: 'Varela Round', 'Roboto', sans-serif;
}

:root {
    --scroll-bar-width: 10px;
    --app-theme-background-color: rgba(240, 29, 134, 1);
    --app-theme-font-color: rgba(255, 255, 255, 1);

    --friendz-header-height-sm: 45px;
    --friendz-header-height-sa: 45px;
    --friendz-header-height-md: 55px;
    --friendz-header-height-lg: 60px;

    --friendz-footer-height-sm: 48px;
    --friendz-footer-height-sa: 55px;
    --friendz-footer-height-md: 60px;
    --friendz-footer-height-lg: 60px;

    --page-header-height-sm: 55px;
    --page-header-height-sa: 55px;
    --page-header-height-md: 70px;
    --page-header-height-lg: 75px;

    --popup-over-inset-sm: 8px;
    --popup-over-inset-sa: 2px;
    --popup-over-inset-md: 2px;
    --popup-over-inset-lg: 2px;

    --app-max-width: 1080px;
    --app-body-padding: 15px;

    --slidemenu-background: #fcfcfc;
    --slidemenu-textcolor: #565656;

    --slidemenu-width-sm: 280px;
    --slidemenu-width-sa: 280px;
    --slidemenu-width-md: 280px;
    --slidemenu-width-lg: 280px;

    --slidemenu-padding: 25px 25px 25px 25px;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: var(--scroll-bar-width);
}


::-webkit-scrollbar-thumb {
    /* border-radius: 4px; */
    background-color: #999;
}

::-webkit-scrollbar {
    background: #eee;
}

.scrollable {
    overflow-y: auto;
    overflow-x: hidden;
    overscroll-behavior: contain;
    overscroll-behavior-block: contain;
    -webkit-overflow-scrolling: touch;
}

body.no-scroll {
    overflow-y: hidden;
}



/* Only on Not Touch Devices */
@media (any-pointer: fine) {

    body.no-scroll .friendz-header,
    body.no-scroll .friendz-footer {
        padding-right: var(--scroll-bar-width);
    }
}

.friendz-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--app-theme-background-color);
    color: var(--app-theme-font-color);
}



.friendz-body {
    position: relative;
    max-width: 100vw;
}

.friendz-body header.page-header {
    color: rgb(255, 255, 255);
}

.friendz-body header.page-header.white {
    background: rgba(255, 255, 255, .95);
    color: rgb(94, 92, 93);
    border-bottom: 1px solid #CCC;
}


section.text {
    padding: var(--app-body-padding);
}

section.hero {
    background: var(--app-theme-background-color);
    color: var(--app-theme-font-color);
    top: 0;
}

.friendz-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(242, 242, 247, 1);
    color: rgb(153, 153, 153);
}


/* SlideMenu  */

.slidemenu-header {
    background: var(--app-theme-background-color);
    color: var(--app-theme-font-color);
    padding: calc(var(--app-body-padding) + env(safe-area-inset-top)) var(--app-body-padding) var(--app-body-padding) var(--app-body-padding);
}

/* Modals */

.app-modal.popup-full {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

.app-modal.popup-over {
    position: fixed;
}

/* 
.page-header {
    background: rgba(22552, 255, 255, 1);
    color: rgb(72, 72, 74);
}

.app-breadcrumbs {
    background: rgba(242, 242, 247, .95);
    color: rgb(72, 72, 74);
    font-size: 14px;
    border-bottom: 1px solid rgba(242, 242, 247, 1)
}

.app-footer-container {
    background: rgba(242, 242, 247, .95);
    min-height: 60px;
}

.body-max-width-container {
    width: 100%;
    margin: 0 auto;
    max-width: var(--body-max-width);
}

.x-slider {
    position: relative;
    width: 100%;
    max-width: 100vw;
    max-width: 100vw;
    overflow-y: hidden;
    overflow-x: hidden;
    padding: var(--app-body-padding) var(--app-body-padding) var(--app-body-padding) var(--app-body-padding);

}

.x-slider::-webkit-scrollbar {
    height: 0px;
}

.x-slider::-webkit-scrollbar-track-piece:start {
    margin-left: calc(var(--app-body-padding) + env(safe-area-inset-left));
}

.x-slider::-webkit-scrollbar-track-piece:end {
    margin-right: calc(var(--app-body-padding) + env(safe-area-inset-right));
}

.x-slider-container {
    display: flex;
    flex-direction: row;
    justify-items: start;
    align-items: stretch;
    gap: var(--app-body-padding);
}

.x-slider .slide {
    border-radius: 15px;
    background: rgba(242, 242, 247, .95);
    aspect-ratio: 16 / 10;
    min-width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.x-slider .slide-closer {
    content: ' ';
} */